<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
		  name="entrustHipChat"
		  type="EntrustHipChat.EntrustHipChatConfigurationSection, EntrustHipChat"
		  allowLocation="true"
		  allowDefinition="Everywhere"
      />
	</configSections>

	<entrustHipChat>
		<instances>
			<add name="Entrust Instance #1">
				<entrust licenseWarn="125000" licenseMax="130000" connectionString="..." />
				<hipChat hipChatAPIKey="..." hipChatRoomName="Support" />
				<pagerDuty genericServiceAPIKey="..." />
			</add>
		</instances>
	</entrustHipChat>
</configuration>